jscs.report.txt
/docs/
/bower_components/
.DS_Store
/node_modules
jquery.bxslider.zip
npm-debug.log

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

